html {
  position: relative;
  min-height: 100%;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #3E89F2;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 19vh;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.titleText {
    color: white;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

.menuItem {
    font-size: 1.9vh;
    font-family: Arial, Helvetica, sans-serif;
}


/* Main content */
.main {
  margin-top: 19vh; /* Add a top margin to avoid content overlay */
  margin-bottom: 7rem;
  height: 100%;
}

